.container {
    margin: 0 1.5rem;
}

/***************/
img {
    width: 100%; /*manter a imagem sem vazar*/
    height: auto;
}

a{
    text-decoration: none;
} 

.padding-sec{
    padding: 5rem 0;
}

.grid{
    display: grid;
    gap: 2rem;
}

.divider{  
    height: 1px;
    background: linear-gradient(
        270deg,
        hsla(var(--hue), 36%, 57%, 1),
        hsla(var(--hue), 65%, 88%, 0.34)
    );
}
